body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0FFF0;
  }
  
  h1 {
    text-align: center;
    font-size: 3.5em; /* More semantic font size */
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #000000ce;
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
  }
  nav ul li a:hover {
    background-color: #1111119e;
  }
  
  p {
    max-width: 50em; /* 800px in em units */
    margin: 1.25em auto; /* 20px in em units */
    padding: 0.625em; /* 10px in em units */
    background: white;
    border-radius: 0.3125em; /* 5px in em units */
    font-size: 1.5em;
}

@media (max-width: 37.5em) { /* 600px in em units */
    nav ul li {
        display: block;
        margin: 0.625em 0; /* 10px in em units */
    }

    p {
        margin: 0.625em; /* 10px in em units */
        padding: 0.9375em; /* 15px in em units */
    }
}
#Ski {
  width: 100%; 
	object-fit: cover;
	object-position: 50%
}

footer {
  text-align: center;
  padding: 60px 0;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  font-size: 0.5em;
  font-style: oblique;
  background : rgba(0, 0, 0, 0);
}