body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0FFF0;
  }
  
  h1 {
    text-align: center;
    font-size: 3.5em; /* More semantic font size */
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #000000ce;
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
  }
  nav ul li a:hover {
    background-color: #1111119e;
  }
  
  p {
    text-align: center;
  }